fastapi
uvicorn[standard]
starlette
itsdangerous
python-multipart
pydantic

snowflake-connector-python>=4.7.0
snowflake-snowpark-python
snowflake-ml-python
cloudpickle==3.1.1

anthropic
google-auth-oauthlib
google-api-python-client

scikit-learn==1.8.0
pandas
numpy>=2.0
joblib

python-dotenv
requests

pytest
pytest-mock
